body {
  background-color: #333;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.seqContainer {
  height: 80%;
  width: 90%;
  background: #ccc;
}

.seqContent {
  height: 1000px;
  width: 100%;
  position: relative;
  overflow: scroll;
  background: #111;
}

.seqContent::-webkit-scrollbar-thumb {
  background-color: #442288; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #222; /* creates padding around scroll thumb */
}

.seqContent::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.seqContent::-webkit-scrollbar-track {
  background: #222; /* color of the tracking area */
}

.bar {
  position: absolute;
  outline: solid;
  outline-color: rgba(0, 0, 0, 0.2);
  outline-width: 1px;
  pointer-events: none;
}

.note {
  position: absolute;
  z-index: 5;
  background: #bb5;
  border-radius: 5px;
}

.slot {
  position: absolute;
  height: 17px;
}
.select {
  background: rgba(0, 100, 0, 0.5);
  position: absolute;
  z-index: 15;
}
.drag {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 100%;
  width: 5px;
  cursor: w-resize;
  float: right;
}

.note-list {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: white;
}
